# -- == General == --
#

# listen - listen address
listen: ":30000"

# -- == Logging == --
#

# log-verbose - more verbose logging
log-verbose: true

# log-packets - enable or disable the logging of the packetflow
#               overwrites log-verbose
log-packets: false

# -- == Map (DIM0 configuration) == --
#

# map-driver - mapdriver to use
map-driver: "minetest"

# map-path - path argment to MapDriver
map-path: "/tmp/testmap.sqlite"

# map-generator - map generator name
map-generator: "flat"

# map-generator-args - arguments for mapgenerator;
#                      creates a minecraft-like flatmap
map-generator-args: "mcl_core:bedrock,mcl_core:dirt,mcl_core:dirt,mcl_core:dirt,mcl_core:dirt_with_grass"
